extends layout.pug

block content
    div(id= 'contributors')
        div(id= 'contributor-1')
          div(id= 'contrib')
            a(href='https://github.com/CamChandler98')
              img(src="https://img.icons8.com/material-sharp/40/ffffff/github.png")
          p= 'Cam Chandler'
        div(id= 'contributor-2')
          div(id= 'contrib')
            a(href='https://github.com/verykenny')
              img(src="https://img.icons8.com/material-sharp/40/ffffff/github.png")
          p= 'Kenneth Donahue'
        div(id= 'contributor-3')
          div(id= 'contrib')
            a(href='https://github.com/aryan151')
              img(src="https://img.icons8.com/material-sharp/40/ffffff/github.png")
          p= 'Aryan Attul'
