extends layout.pug


block content
        h2= game.title
        p= game.description
        p= game.releaseDate
        h3 Reviews
            for review in game.Reviews
                h4 UserID Placeholder -- need to figure this out!
                p= review.content
