doctype html
html
    head
        block head
            title="Express Starter App"
            link(rel='stylesheet' href='/stylesheets/reset.css')
    body
        if locals.authenticated
            p hello #{user.username}
            form(action="/logout", method="post")
                button(type="submit") Logout
        block content
