doctype html
html
    head
        block head
            title="GoodGames"
            link(rel='stylesheet' href='/stylesheets/reset.css')
            link(rel='stylesheet' href='/stylesheets/default.css')
            link(rel='stylesheet' href='/stylesheets/navbar.css')
            script(src="/javascripts/navbar.js" type="module" defer)
    body
        header
            div(id='navbar-container' class='navbar')
                <nav>
                    ul.logoList
                        .logo
                            a(href="/", method="post") Good Games
                    form.search_box(action='/search' method='post')
                        input#query.input_box(type='search' name='term' placeholder='Find Your Game!')
                        input.butt(type='submit' value='🔍')
                    if locals.authenticated
                        ul.navlist
                            li
                                a(href="/games") All Games
                            li
                                a(href="/reviews") My Reviews
                            li
                                a(href="/shelves") My Shelves
                            li
                                a(href="/logout" id="logout") Logout
                            li
                                a(href="/about") About
                        .small
                            img#menuimg(src='https://img.icons8.com/cotton/64/000000/menu.png')
                    else
                        ul.navlist
                            li
                                a(href="/games") All Games
                            li
                                a(href="/login") Login
                            li
                                a(href="/signup") Sign Up
                            li
                                a(href="/demo" id="demo") Demo
                            li
                                a(href="/about") About
                        .small
                            img#menuimg(src='https://img.icons8.com/cotton/64/000000/menu.png')
                </nav>
            script(src='/javascripts/slider.js' type="module" defer)
        block content
