*,::before,
::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    height: 100vh;
    align-items:center;
    justify-content:center;
    overflow: hidden;
    font:600 62.5%;
    font-family: sans-serif;
    background-color: black ;
    color: white;
}

a {

    text-decoration: none;
    color: white;
    font-size: 1rem;
    white-space: nowrap;

}
a.tag{
    display: block;
    padding: 0.3em, 0.85em;
    margin: 0.5em;
    text-transform: capitalize;
    border: 3px solid #2a242f;
    border-radius: 2em;
    transition: transform 0.2s;
    transition-timing-function: cubic-bezier(0.45, -0.85, 0.55, -0.45);
}

a.tag:hover {
    transform: scale(1.2);
    background: linear-gradient(to right, red, darkred);
    background-clip: text;
}

.container {
    margin: 2em 6em;
    padding: 3em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: #a1a1af;
    border: 1px solid black;
    border-radius: 0.35em;
    box-shadow: 0 10px 60px red;
}

.container .tags {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container label {
    position: relative;
    white-space: nowrap;
    display: flex;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: flex-end;
    border: 3px solid transparent;
    border-radius: 2em;
    background-color: #17141d;
    background-image: radial-gradient(circle at 50%, #ff8a00, #da1b60);
    transition: all 250ms ease-in-out;
}

.container label::before {

    position: absolute;
    right: 0;
    bottom: -20px;
    z-index: 0;
    transform: rotate(-35deg);
    width: 4px;
    height: 25px;
    content: "";
    border-radius: 2px;
    background-image: linear-gradient(to top, #ff8a00, #da1b60);
    transition: all 250ms ease-in-out;

}


.container label .tag-search {

    position: relative;
    z-index: 1;
    display: block;
    padding-left: 1.75em;
    width: 42px;
    height: 42px;
    font-size: 1rem;
    border: 0;
    border-radius: inherit;
    background-color: #17141d;
    color: white;
    transition: width 250ms ease-in-out;
}

.container label .tag-search:focus {
    outline: none;

}

.container label:hover {
    width: 20%;
}

.container label:hover::before {
    height: 30px;
    transform: rotate(-90deg); translate: (28px, 15px);
}

.container label:hover .tag-search {
    width: 100%;
    padding-right: 1em;
    padding-left: 1em;
}
