main {
    background-color: #a44200;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

p {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

li {
    list-style: none;
}

img {
    justify-content: flex-end;
}
