@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
h2{
  color:black
}
body{
  background-color: #060919;
  min-height: 100vh;
  font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}


main{
  display: flex;
  flex-direction: column;
  margin:30px;
  align-items:center;
  text-align: justify;
}
form{
  margin-bottom: 0px;
  box-sizing: border-box;
}

.form-button{
  margin-top: 10px;
  margin-bottom: 5px;
  height: 40px;
  color: #fff;
  border:none;
  outline: none;
  background-color: #a44200;
  font-size: 14px;
  border-radius: 10px;
  text-justify: center;
}

.form-button:hover{
  background-color: #7a3202;
}

.signup{
  margin-top: 5px;
}
  /*wrap form */
  .form-container{
    width:300px;
    height:auto;
    display:flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 4% 3%;
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.623);
    box-sizing: border-box;
    border-radius: 3px;
  }
  .form-container h2{
    text-align:center;
    margin: 5px 10px 25px
  }
/* wrap label and inputs with .form group div */
  .form-group{
    display:flex;
    flex-direction: column;
    margin:5%;
  }

/* give inputs .form-control class*/
  .form-control{
    margin:2px 0px 20px;
    border:none;
    background: transparent;
    border-bottom: 1px solid rgb(32, 30, 30);
    height: 40px;
    font-size: 16px;
    box-sizing:border-box;
    outline: none;
  }

  select.form-control{
    width:20%;
  }

  .text-control{
    margin:2px 0px 20px;
    border:none;
    background: transparent;
    border-bottom: 1px solid rgb(32, 30, 30);
    font-size: 16px;
    box-sizing:border-box;
    outline: none;
    padding:5%;
    resize:none;
  }

  #edit-content{
    display: flex;
    flex-direction: column;
  }
  .center{
    align-self:center;
    font-weight: bold;
  }
  .error-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .error li{
    /* display: flex;
    flex-direction: column; */
    color:red;
    list-style-position: inside;
    text-align: center;
  }

  .form-group > p {
    text-align: center;
  }



  a.form-group{
   box-sizing: content-box ;
   margin-top: 0px;
   text-decoration: none;
  }

  #demo-container{
    box-sizing: content-box ;
    margin-top: 0px;
  }
