h1 {
    margin: 0;
}

h2 {
    color: white;
}

h2.info {
    /* color: white; */
    margin: 20px auto;
    width: fit-content;
    font-size: 1.5rem;
    text-align: left;
    margin: 0;
}

.card-title {
    text-align: center;
    font-size: 1.7rem;
}

.game-card {
    display: flex;
    max-width: 750px;
    margin-top: 50px;
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 60px;
}

.rating, .date {
    font-size: 1.2rem;
    margin: 10px 0;
}

img {
    max-width: 150px;
    height: auto;
}

.hidden {
    display: none;
}


.shelf {
    border: none;
    text-justify: center;
    background-color: transparent;
    min-width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #D3B99F;
}

.shelf:hover {
    background-color: #a44200;
    color: white;
}

.shelves {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 40px;
    right: 0px;
    background-color: white;
    padding: 10px;
    width: 145px;
    border-radius: 10px;
    border: 1px solid;
}

.login-container{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;

}

.container-btn{
    font-weight: normal;
    margin-bottom: 0px;
}
