
.card {
    display: flex;
}

img:hover {
    box-shadow: 0px 0px 3px;
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
}

img {
    max-height: 150px;
}

.card .btn {
    float: right;
    margin-bottom: 0;
    margin-right: 0;
}

h2:hover {
    text-decoration: underline;
}


.title {
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.shelf {
    border: none;
    text-justify: center;
    background-color: transparent;
    min-width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #D3B99F;
}

.shelf:hover {
    background-color: #a44200;
    color: white;
}

.shelves {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 40px;
    right: 0px;
    background-color: white;
    padding: 10px;
    width: 145px;
    border-radius: 10px;
    border: 1px solid;

    box-shadow: 0px 0px 5px;

    max-height: 260px;
    overflow-y: scroll;
}

.shelves::-webkit-scrollbar {
    display: none;

}
