h1 {
    margin-left: 20%;
    margin-top: 20px
}

.card {
    display: flex;
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
}

img {
    max-height: 150px;
}

.card .btn {
    float: right;
    margin-bottom: 0;
    margin-right: 0;
}
