@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body{
    background-color: #060919;
    min-height: 100vh;
    font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


main{
    display: flex;
    flex-direction: column;
    margin:30px;
    align-items:center;
    text-align: justify;
}

h2:hover {
    text-decoration: underline;
}

#shelf-container {
    border-style: solid;
    border-color: #a44200;
    margin: 2px;
}

.shelf-button {
    display: flex;
    justify-content: flex-end;
}

.empty-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px
}
.empty-text:hover{
    text-decoration: none;
}
.games-link:hover {
    text-decoration: underline;
}
